{% extends "layout.twig" %}
{% block content %}

<div class="bk-pt-default">

<!-- CONTAINER -->
<div class="template-container">
	<div class="default-page">

	   <header class="template-header">
	       <div class="container">
			{{widget('logo', 'header-logo', {"defaultlogo": asset('images/logo-black.png')})|raw}}
	   	   {{widget('companyname', 'companyname', {"business": "ODENSE", "showTplWidget":"0"})|raw}}
	   	   {{widget('extendednavigation', 'header-nav', {"align":"right"})|raw}}
	   	   {{widget('ecombasket', 'shopbasket', {})|raw}}
	       </div>
	   </header>

	   <!-- MAIN SECTION -->
	   <div role="main" id="main">
    
	   	<div class="container">
    
	   		<!-- MAIN ZONE -->
	   		{{zone('main')|raw}}
    
	   	</div>
    
	   </div>

	   		<div class="instagram">

            <!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/7037fbfe38365acea20af5bd2d832f59.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="border:none; overflow:hidden; width:1200px; height:150px"></iframe>


        </div>

	<div class="default-profile">
		{{widget('profile', 'main-profile', { 'profileType':'form', 'formTitle':'Sign up to our newsletter'})|raw}}
	</div>

    </div>

	<!-- FOOTER -->
	{% include "includes/footer.twig" %}

	</div>
    
</div>
<!-- END CONTAINER -->

{% endblock %}
