{% extends "layout.twig" %}
{% block content %}

<div class="bk-pt-default">

<!-- CONTAINER -->
<div class="template-container ">

	<header class="template-header">
    <div class="container">
        {{widget('logo', 'header-logo', {"defaultlogo": asset('images/logo-black.png')})|raw}}
        {{widget('companyname', 'companyname', {"business": "ODENSE", "showTplWidget":"0"})|raw}}
        {{widget('extendednavigation', 'header-nav', {"align":"right"})|raw}}
        {{widget('ecombasket', 'shopbasket', {})|raw}}
    </div>
    </header>

	<!-- MAIN SECTION -->
	<div role="main" class="ecom-product">

		<!-- ECOM WIDGET ZONE -->
		{{widget('ecomproduct', 'singleproduct', {})|raw}} 

	</div>
	<!-- END MAIN SECTION -->

	<!-- FOOTER -->
	{% include "includes/footer.twig" %}

</div>
<!-- END CONTAINER -->

{% endblock %}

{% block scripts %}

<script>
	if($(".ecomproduct__product-gallery").length == 0) 
    { 
       $("body").addClass("product-one-image"); 
    } 
</script>

</div>
	
{% endblock %}