{% extends "layout.twig" %}
{% block content %}

<!-- CONTAINER -->
<div class="template-container">
	<div class="home-page">

		<!-- FULL SCREEN SLIDESHOW -->
		{{widget('responsiveslideshow', 'slideshow', {
			'duration':'4',
			'transSpeed': '2000',
			'transType': 'fade',
			'showButtons': false,
			'showBullets': true,
			'allowPause': false,
			'allowLoop': false,
			'crop': true,
			'images':[
			{
				'imageHeight':'auto',
				'imageWidth':'100%',
				'url':asset('images/slide-5.jpg')
			},
			{
				'imageHeight':'auto',
				'imageWidth':'100%',
				'url':asset('images/slide-3.jpg')
			},
			{
				'imageHeight':'auto',
				'imageWidth':'100%',
				'url':asset('images/slide-4	.jpg')
			}
			]
		})|raw}}

		<!-- HEADER -->
		{% include "includes/header.twig" %}
		
	</div>

	<div class="default-profile">
		{{widget('profile', 'main-profile', { 'profileType':'form', 'formTitle':'Sign up to our newsletter'})|raw}}
	</div>

	<div class="bestsellertitle">
			{{widget('content', 'h1', {
  content: '<h1>OUR BEST SELLERS</h1>'
})|raw}}
</div>

		<!-- Homepage Feature -->
	<div class="introsuxceed">

	<div class="bestseller">
{{widget('image', 'bestseller', {
  'src': asset("/images/products/xtee.jpg")
})|raw}}
</div>
	<div class="bestseller1">
{{widget('image', 'bestseller1', {
  'src': asset("/images/products/whiteeleven.jpg")
})|raw}}
</div>
	<div class="bestseller2">
{{widget('image', 'bestseller2', {
  'src': asset("/images/products/blackvest.jpg")
})|raw}}
</div>

		</div>
		<!-- End Homepage Feature -->
		
		<!-- Homepage Feature -->
		<div class="featuresummer">
			{{widget('feature', 'featuresummer', {
				"header": "EXCLUSIVE SUXCEED SS17 SWIMWEAR OUT NOW",
				"strapline": "Click below to view the Suxceed Womens collection",
				"defaultBgImg": asset('images/feature-bg.jpg'),
				'positionTopPercentage': '0',
				'showBtn': true,
				buttonText: "VISIT STORE"
			})|raw}}
		</div>
<!-- End Homepage Feature -->

	<!-- MAIN SECTION -->
	<div role="main" id="main">

		<div class="homepage-container">

		<div class="title">
            {{widget('content', 'instagramtitle', {
            content: '<h1>INSTAGRAM</h1>'
            })|raw}}
        </div>
        <div class="text">
            {{widget('content', 'instagramtext', {
            content: '<p>Support the Movement, Like Us and Follow Us @suxceedapparel - Our Store: @71queens</p>'
            })|raw}}
        </div>

        

<!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/2e4ef694c3a25ca59384872b5605f28e.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>



		<!-- MAIN ZONE -->
		{{zone('main')|raw}}

		</div>

	</div>
	
	<!-- FOOTER -->
	{% include "includes/footer.twig" %}

</div>
<!-- END CONTAINER -->

{% endblock %}
