<!doctype html>
<!--[if lt IE 7]>
	<html class="no-js ie6 oldie" lang="en">
<![endif]-->
<!--[if IE 7]>
	<html class="no-js ie7 oldie" lang="en">
<![endif]-->
<!--[if IE 8]>
	<html class="no-js ie8 oldie" lang="en">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ page.seoLang }}">
<!--<![endif]-->

<head>
	<meta charset="utf-8" />
	<title>{{ page.title }}</title>
	<meta name="keywords" content="{{ page.keywords }}" />
	<meta name="description" content="{{ page.description }}" />

	{% if site.favicon %}
		<link rel="icon" href="{{ site.favicon['favicon'] }}" type="image/x-icon" />
		<link rel="SHORTCUT ICON" href="{{ site.favicon['thumbnail'] }}?v={{ "now"|date("U") }}" type="image/x-icon" />
	{% endif %}
	<meta name="viewport" content="width=device-width,initial-scale=1">

	{% include basekit.headScript %}
</head>

<body class="{{ page.backgroundClass }}">

	{% block content %}
	{% endblock %}

    {% include basekit.bodyScript %}

	<!-- JQUERY -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- PLUGINS -->
    <script src="{{asset('js/main.js')}}"></script>
    <script src="{{ asset('js/custom.js')}}"></script>

    <div id="fb-root"></div>

    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

	<!-- IMAGES LOADED 
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>

	<script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.2.1/masonry.pkgd.min.js"></script>

	<script>
		var container = document.querySelector('.product-list');
		imagesLoaded( container, function() {
			var msnry = new Masonry( container, {
				itemSelector: '.product-item'
			});
		});
	</script>-->

	{% block scripts %}
	{% endblock %}

</body>
</html>
